@font-face {
  src: url("../assets//Fonts/Montserrat-Bold.ttf");
  font-family: "mon-title";
}

@font-face {
  src: url("../assets//Fonts/Montserrat-Regular.ttf");
  font-family: "mon-body";
}

@font-face {
  src: url("../assets//Fonts/Montserrat-ExtraLight.ttf");
  font-family: "mon-light";
}

:root {
  font-family: "mon-body";
  --main-color: #03cfcf;
  --body-color: #cccbcb;
  --finish-good: #09792d;
  --finish-med: #e2980f;
  --finish-bad: #e21c0f;
  --back-main: #161616;
}

body {
  color: var(--body-color);
  background-color: var(--back-main);
}
