@font-face {
  src: url("../../assets//Fonts/Montserrat-Bold.ttf");
  font-family: "mon-title";
}

@font-face {
  src: url("../../assets//Fonts/Montserrat-Regular.ttf");
  font-family: "mon-body";
}

@font-face {
  src: url("../../assets//Fonts/Montserrat-ExtraLight.ttf");
  font-family: "mon-light";
}
:root {
  font-family: "mon-body";
  --main-color: #f5cb5c;
  --body-color: #cfdbd5;
  --back-main: #242423;
  --card-back: #242423;
  --btn-text: #cfdbd5;
  --btn-highlight: #f5cb5c;
  --highlight: #000;
  --cont-color: #f5cb5c;
  --btn-disabled: #5e5f5e;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4a933;
}

body {
  background-color: var(--back-main);
  color: var(--body-color);
  font-size: 16px;
}

h1,
h3 {
  color: var(--main-color);
  font-family: "mon-title";
}

h1 {
  font-size: 3.5em;
}
h3 {
  font-size: 1.8em;
}

.main {
  margin: 5% 30%;
}

.section {
  padding: 3% 0%;
}

.card {
  background-color: var(--card-back);
  width: 100%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
  padding: 30px;
  transition: all ease-in-out 0.2s;
}

.card:hover {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.6);
}

.flex-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.action-btn {
  padding: 20px 30px;
  width: 45%;
  background-color: transparent;
  color: var(--btn-text);
  border: 1px solid var(--main-color);
  border-radius: 5px;
  font-family: "mon-title";
  transition: all ease-in-out 0.3s;
  outline: none;
}

.action-btn:hover {
  background-color: var(--btn-highlight);
  border-color: var(--btn-highlight);
  color: var(--highlight);
  cursor: pointer;
}

.action-btn:focus {
  background-color: var(--btn-highlight);
  border-color: var(--btn-highlight);
  color: var(--highlight);
}

#output,
#output-white {
  text-align: center;
  font-family: "mon-title";
  font-size: 1.2em;
}

.end {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.btn-submit {
  padding: 20px 10px;
  width: 20%;
  margin: 3% 0 0 0;
  outline: none;
}

@keyframes move-right {
  0% {
    padding-left: 5px;
  }
  100% {
    padding-left: 40px;
  }
}

.btn-submit:hover {
  background-color: var(--btn-highlight);
  color: var(--highlight);
  cursor: pointer;
  border-color: var(--btn-highlight);
  animation-name: move-right;
  animation-timing-function: ease-in-out;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

button:disabled,
button[disabled] {
  background-color: var(--back-main);
  color: var(--btn-disabled);
  border: none;
}

button:disabled:hover {
  cursor: not-allowed;
  border: none;
  background-color: #696969;
  animation: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#import-rules,
#write-rules,
#import-rules-white,
#write-rules-white {
  animation-name: fade-in;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.description {
  padding: 20px;
  font-size: 1.2em;
  text-align: center;
}

.container-import {
  height: 30vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: 5px dashed var(--main-color);
  overflow: hidden;
  text-align: center;
  padding: 0;
  margin: 0;
  transition: all ease-in-out 0.1s;
}

.container-import:hover,
textarea:hover {
  cursor: pointer;
  border-color: var(--main-color);
}

.highlight {
  border-color: var(--highlight);
}

.container-import .fa {
  color: var(--body-color);
  transition: all ease-in-out 0.1s;
  font-size: 3em;
  display: block;
  padding: 10px;
}

.container-import:hover .fa {
  color: var(--cont-color);
}

.file-open {
  color: var(--body-color);
  text-decoration: none;
}

#filename,
#filenameWhiteList {
  font-family: "mon-title";
}

.container-text {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  height: 30vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

textarea {
  width: 96%;
  height: 30vh;
  outline: none;
  background-color: transparent;
  color: var(--body-color);
  font-size: 1em;
  font-family: monospace;
  padding: 10px;
  margin: 0;
  border: 5px dashed var(--main-color);
  resize: none;
}

textarea::placeholder {
  line-height: 20vh;
  text-align: center;
}

.upload-file {
  display: none;
}
