@font-face {
  src: url("../../assets//Fonts/Montserrat-Bold.ttf");
  font-family: "mon-title";
}

@font-face {
  src: url("../../assets//Fonts/Montserrat-Regular.ttf");
  font-family: "mon-body";
}

@font-face {
  src: url("../../assets//Fonts/Montserrat-ExtraLight.ttf");
  font-family: "mon-light";
}

:root {
  font-family: "mon-body";
  --main-color: #03cfcf;
  --body-color: #cccbcb;
  --finish-good: #09792d;
  --finish-med: #e2980f;
  --finish-bad: #e21c0f;
  --back-main: #161616;
}

body {
  color: #fff;
  background-color: var(--back-main);
  margin: 0;
  padding: 0;

  height: 400px;
  width: 350px;
}

.flex {
  padding: 10% 15%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-family: "mon-title";
  color: var(--main-color);
  padding-bottom: 0;
  margin-bottom: 0;
}

h3 {
  font-size: 1.4em;
  font-family: "mon-title";
  color: #fff;
}

.button-group {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-top: var(--main-color) 1px solid;
  align-items: center;
}

button {
  width: 33%;
  margin: 0;
  padding: 10px 1px;
  background-color: #242424;
  border: none;
  color: white;
  text-align: center;
}

button:disabled,
button[disabled] {
  background-color: #696969;
  color: #242424;
}

button:focus {
  outline: 1px solid var(--main-color);
}

button:hover {
  border: var(--main-color) 1px solid;
  background-color: #0f0f0f;
  cursor: pointer;
}

button:disabled:hover {
  cursor: not-allowed;
  border: none;
  background-color: #696969;
}

ul {
  list-style: none;
  text-align: left;
  padding: 0;
}

li {
  padding: 5% 0;
  font-size: 1.3em;
}

.blk-res {
  float: right;
  color: var(--main-color);
}
